@mixin btn-shadow() {
    box-shadow: $box-shadow-sm;

    &:hover,
    &:focus {
        box-shadow: $box-shadow;
    }
}
@mixin btn-ico() {
    svg {
        padding-right: $spacer * 0.2;
        font-size: 1.4em;
        vertical-align: -0.25em;
    }
}
@mixin btn-white() {
    @include button-variant(
        $white,
        $white,
        $blue,
    );

    &.btn-primary {
        color: $blue;
    }

    &.btn-secondary {
        color: $gray-600;
    }

    &.btn-success {
        color: $green;
    }

    &.btn-danger {
        color: $red;
    }

    &.btn-warning {
        color: $yellow;
    }

    &.btn-info {
        color: $cyan;
    }
}

.btn {
    font-weight: 500;

    &-shadow {
        @include btn-shadow;
    }

    &-ico {
        @include btn-ico;
    }

    &-white {
        @include btn-white;
    }
}
