.form-floating {
    label {
        display: flex;
        justify-content: space-between;
        width: 116%;
        max-width: none;
    }
}

.form-control:focus {
    box-shadow: none;
    outline: 0.25rem solid rgba(13, 110, 253, 0.25);
    outline-offset: -0.25em;
}